<!DOCTYPE html>
<html>
  <head>
    <title>admin tryout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="{{ url_for('static', filename='script/general.js') }}" data-error-message="{{ error_message }}"></script>


  </head>

  <body>
    <input type="hidden" id="error-message" value="{{ error_message|default('') }}">

    <form action="/call_function" method="post">
      <!-- Book Details -->
      <label for="book_name">Book Name:</label>
      <input type="text" name="book_name" id="book_name"  />

      <label for="author_name">Author Name:</label>
      <input type="text" name="author_name" id="author_name"  />

      <label for="genre">Genre:</label>
      <select name="genre" id="genre">
        {% for gen in ganres %}
        <option value="{{ gen.genre_name }}">{{ gen.genre_name }}</option>
        {% endfor %}
      </select>
      <br><br>
      <label for="amount">Amount:</label>
      <input type="text" name="amount" id="amount"  />

      <button type="submit" name="func_name" value="newBook">
        Add New Book
      </button>
      <br>
      <br>
      <!-- User Deletion -->
      <label for="user_email">Choose User for Deletion:</label>
      <select name="user_email" id="user_email">
        {% for user in users %}
        <option value="{{ user.user_email }}">
          Email: {{ user.user_email }} | Name: {{ user.user_full_name }}
        </option>
        {% endfor %}
      </select><br><br>

      <button type="submit" name="func_name" value="deleteUser">
        Delete User
      </button>
      <input type="hidden" name="arg" value="your_argument_value"> 

    </form>
  </body>
</html>