<!DOCTYPE html>
<html>
<head>
    <title>Buttons Page</title>
</head>
<body>
    <form action="/call_function" method="post">
        <input type="hidden" name="arg" value="sweet">
        <button type="submit" name="func_name" value="function1">Call Function 1</button>
        <button type="submit" name="func_name" value="function2">Call Function 2</button>
        <button type="submit" name="func_name" value="function3">Call Function 3</button>
        <button type="submit" name="func_name" value="function4">Call Function 4</button>
    </form>
</body>
</html>
