<!DOCTYPE html>
<html>
  <head>
    <title>admin tryout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

  </head>

  <body>
    <form action="/call_function" method="post">
      <!-- Book Details -->
      <label for="book_name">Book Name:</label>
      <input type="text" name="book_name" id="book_name" required />

      <label for="author_name">Author Name:</label>
      <input type="text" name="author_name" id="author_name" required />

      <label for="genre">Genre:</label>
      <select name="genre" id="genre">
        {% for gen in genres %}
        <option value="{{ gen.genre_name }}">{{ gen.genre_name }}</option>
        {% endfor %}
      </select>

      <label for="amount">Amount:</label>
      <input type="text" name="amount" id="amount" required />

      <button type="submit" name="func_name" value="newBook">
        Add New Book
      </button>

      <!-- User Deletion -->
      <label for="user_email">Choose User for Deletion:</label>
      <select name="user_email" id="user_email">
        {% for user in users %}
        <option value="{{ user.user_email }}">
          Email: {{ user.user_email }} | Name: {{ user.user_full_name }}
        </option>
        {% endfor %}
      </select>

      <button type="submit" name="func_name" value="deleteUser">
        Delete User
      </button>
    </form>
  </body>
</html>